.footerGrad {
    background-color: #f6978e; 
    background-image: linear-gradient( to right, #cd4f07, #f6978e);
}
.header {
    background-color: #cd4f07;
    font-family: "Ysabeau SC", sans-serif;
}
.baskervville-headings {
  color:#cd4f07;
  font-family: "Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.ysabeau-sc-NavBar {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.ysabeau-sc {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: gray;
}