.footerGrad {
    background-color: #f6978e; 
    background-image: linear-gradient( to right, #cd4f07, #f6978e);
}
.header {
    background-color: #cd4f07;
    font-family: "Ysabeau SC", sans-serif;
}
.baskervville-headings {
  color:#cd4f07;
  font-family: "Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.ysabeau-sc-NavBar {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.ysabeau-sc {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: gray;
}
.carousel-item {
  max-height: 400px;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0px -450px;
}
.detailButton {
  background-color: #cd4f07;
}
.ysabeau-sc-detail-button {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  background-color: #cd4f07;
}
.ysabeau-sc-detail-heading {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #cd4f07;
}
.ysabeau-sc-detail-sub-heading {
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: black;
}